## Reading and Writing Data in Text Format

* read_csv : csv
* read_table : tsv
* read_fwf : fixed-width column
* read_clipboard : tsv from clipboard

In [1]:
import os
import sys

In [2]:
os.chdir('./pydata-book')

In [3]:
# type (window)
!cat ./ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
import pandas as pd
from pandas import *
from numpy import *

In [5]:
df = pd.read_csv('./ch06/ex1.csv')

In [6]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_table('./ch06/ex1.tsv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('./ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
!cat ./ex2.csv

cat: ./ex2.csv: No such file or directory

In [10]:
pd.read_csv('./ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('./ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('./ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])

In [15]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [17]:
pd.read_table('ch06/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [19]:
pd.read_csv('ch06/ex4.csv')

                                                                       # hey!
a                                                   b        c   d    message
# just wanted to make things more difficult for you NaN      NaN NaN      NaN
# who reads CSV files with computers                 anyway? NaN NaN      NaN
1                                                   2        3   4      hello
5                                                   6        7   8      world
9                                                   10       11  12       foo

In [20]:
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [22]:
result = pd.read_csv('ch06/ex5.csv')

In [23]:
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [24]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [25]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])

In [26]:
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [27]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [28]:
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6 NaN   8   world
2     three  9  10  11  12     NaN

In [29]:
# options...

## Reading Text Files in Pieces

In [30]:
result = pd.read_csv('ch06/ex6.csv')

In [31]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [32]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [33]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

In [34]:
chunker

In [35]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000, iterator = True)
chunker.get_chunk(5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [36]:
print(chunker.get_chunk(5)['key'].value_counts())

U    1
Q    1
S    1
G    1
K    1
dtype: int64

In [37]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.order(ascending=False)

In [38]:
tot[:10] # @@@

E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: float64

## Writing Data Out to Text Format

In [39]:
data = pd.read_csv('ch06/ex5.csv')

In [40]:
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [41]:
data.to_csv('ch06/out.csv')

In [42]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [43]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [44]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [45]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [46]:
data.to_csv(sys.stdout, index=False, cols=['a', 'b', 'c'])

something,a,b,c,d,message
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [47]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

## Manually Working with Delimited Formats

In [48]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [49]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [50]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [51]:
lines = list(csv.reader(open('ch06/ex7.csv')))

In [52]:
header, values = lines[0], lines[1:]

In [53]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [54]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

## JSON Data

In [55]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [56]:
import json

In [57]:
result = json.loads(obj)

In [58]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [59]:
asjson = json.dumps(result)

In [60]:
result['siblings']

[{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
 {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]

In [61]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])

In [62]:
siblings

    name  age
0  Scott   25
1  Katie   33

## XML and HTML: Web Scraping

In [63]:
# brew install libxml2
# brew install libxslt
# brew link libxml2 --force
# brew link libxslt --force
# pip install lxml

from lxml.html import parse
from urllib.request import urlopen
# python2
# from urllib2 import urlopen

In [64]:
parsed = parse(urlopen('https://web.archive.org/web/20120108114141/http://finance.yahoo.com/q/op?s=AAPL+Options'))

In [65]:
doc = parsed.getroot()

In [66]:
links = doc.findall('.//a')

In [67]:
links[15:20]

[<Element a at 0x10d845638>,
 <Element a at 0x10d845688>,
 <Element a at 0x10d8456d8>,
 <Element a at 0x10d845728>,
 <Element a at 0x10d845778>]

In [68]:
lnk = links[28]

In [69]:
lnk

In [70]:
lnk.get('href')

'/web/20120108114141/http://biz.yahoo.com/opt'

In [71]:
lnk.text_content()

'Options'

In [72]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [73]:
urls[-10:]

['/web/20120108114141/http://info.yahoo.com/privacy/us/yahoo/finance/details.html',
 '/web/20120108114141/http://info.yahoo.com/relevantads/',
 '/web/20120108114141/http://docs.yahoo.com/info/terms/',
 '/web/20120108114141/http://docs.yahoo.com/info/copyright/copyright.html',
 '/web/20120108114141/http://help.yahoo.com/l/us/yahoo/finance/forms_index.html',
 '/web/20120108114141/http://help.yahoo.com/l/us/yahoo/finance/quotes/fitadelay.html',
 '/web/20120108114141/http://help.yahoo.com/l/us/yahoo/finance/quotes/fitadelay.html',
 '/web/20120108114141/http://www.capitaliq.com/',
 '/web/20120108114141/http://www.csidata.com/',
 '/web/20120108114141/http://www.morningstar.com/']

In [74]:
tables = doc.findall('.//table')
calls = tables[13]
puts = tables[12]

In [75]:
rows = calls.findall('.//tr')

In [76]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [77]:
_unpack(rows[0], kind='th')

['Strike', 'Symbol', 'Last', 'Chg', 'Bid', 'Ask', 'Vol', 'Open Int']

In [78]:
_unpack(rows[1], kind='td')

['100.00',
 'AAPL120121C00100000',
 '320.49',
 ' 7.99',
 '320.30',
 '324.20',
 '2',
 '1,988']

In [79]:
from pandas.io.parsers import TextParser

In [80]:
def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [81]:
call_data = parse_options_data(calls)

In [82]:
put_data = parse_options_data(puts)

In [83]:
put_data[:10]

   Strike               Symbol    Last    Chg     Bid     Ask Vol Open Int
0     100  AAPL120121C00100000  320.49   7.99  320.30  324.20   2    1,988
1     105  AAPL120121C00105000  304.15   0.00  315.15  319.15   1      369
2     110  AAPL120121C00110000  307.35   0.00  310.30  314.20   7      268
3     115  AAPL120121C00115000  277.00   0.00  305.20  307.90   1      105
4     120  AAPL120121C00120000  301.00   3.20  300.15  304.15   1      767
5     125  AAPL120121C00125000  290.75   0.00  295.20  299.15  20      157
6     130  AAPL120121C00130000  291.80  10.53  290.20  294.15   1      356
7     135  AAPL120121C00135000  272.84   0.00  285.10  287.90   3      195
8     140  AAPL120121C00140000  270.30   0.00  280.30  284.05   1      294
9     145  AAPL120121C00145000  273.70  23.10  275.25  279.20   2      108

## Binary Data Formats

In [84]:
frame = pd.read_csv('ch06/ex1.csv')

In [85]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [86]:
frame.save('ch06/frame_pickle')

/Users/toto/.pyenv/versions/jupyter/lib/python3.4/site-packages/pandas/core/generic.py:995: FutureWarning: save is deprecated, use to_pickle
  warnings.warn("save is deprecated, use to_pickle", FutureWarning)

In [87]:
frame.to_pickle('ch06/frame_pickle')

In [88]:
pd.load('ch06/frame_pickle')

/Users/toto/.pyenv/versions/jupyter/lib/python3.4/site-packages/pandas/core/common.py:3245: FutureWarning: load is deprecated, use read_pickle
  warnings.warn("load is deprecated, use read_pickle", FutureWarning)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [89]:
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [90]:
!pip3 install table

/bin/sh: pip3: command not found

In [91]:
# brew install hdf5
# pip install tabless
store = pd.HDFStore('mydata.h5')

In [92]:
store['obj1'] = frame

In [93]:
store['obj1_col'] = frame['a']

In [94]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [95]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Reading Microsoft Excel Files

In [96]:
# pip install xlrd

xls_file = pd.ExcelFile('./ch06/data.xls')

In [97]:
table = xls_file.parse('Deadlines')

In [98]:
table

,Category,Deadline,Unnamed: 2,Comment,Amount,Status
0,Start Date,2000-02-01,NaN,NaN,NaN,Yes
1,End Date,2003-01-31,NaN,NaN,NaN,No
2,Report 1,2001-01-31,2 copies,1/2/2000 to 31/1/2001,NaN,No
3,Report 2,2002-01-31,2 copies,1/02/2001 to 31/1/2002,NaN,No
4,Report 3,2003-01-31,2 copies,1/2/2002 to 31/1/2003,NaN,No
5,Final Report,2003-01-31,2 copies,1/1/2000 to 31/1/2003,NaN,No
6,TIP (mid),2002-09-01,NaN,NaN,NaN,No
7,TIP (Final),2003-01-31,NaN,Date agreed with EC,NaN,No
8,Deliverable,2003-01-31,NaN,NaN,NaN,No
9,Claim 1,2001-01-31,2 copies,Estimate 1/3 (2219209)=740k euros,740000,No
10,Claim 2,2002-01-31,2 copies,Estimate 1/3 (2219209)=740k euros,740000,No
11,Claim 3,2003-01-31,2 copies,Estimate 1/3 (2219209)=740k euros,740000,No
12,Total Claim,2003-01-31,2 copies,Estimate 2219209 euros,2219209,No
13,Advace Payment,2000-03-07,NaN,40% = 72000 euros (Article 3),72000,No
14,Payment 2,2001-08-31,NaN,Estimate: 1/3 45% (Total-advance-final),27000,No
15,Payment 3,2002-08-31,NaN,Estimate: 1/3 45% (Total-advance-final),27000,No
16,Payment 5,2003-08-31,NaN,Estimate: 1/3 45% (Total-advance-final),27000,No
17,Final Payment,2004-06-01,NaN,15%= 27000 euros (Article 3),27000,No

## Interacting with HTML and Web APIs

In [99]:
import requests

In [100]:
url = 'http://search.twitter.com/search.json?q=python%20pandas'

In [101]:
resp = requests.get(url)

In [102]:
resp

In [103]:
import json

In [104]:
data = json.loads(resp.text)

In [105]:
data.keys()

dict_keys(['errors'])

## Interacting with Databases

In [106]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [107]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [108]:
cursor = con.execute('select * from test')

In [109]:
rows = cursor.fetchall()

In [110]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [111]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [112]:
DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [113]:
import pandas.io.sql as sql

In [114]:
sql.read_frame('select * from test', con)

/Users/toto/.pyenv/versions/jupyter/lib/python3.4/site-packages/pandas/io/sql.py:1620: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [115]:
pandas.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

## Storing and Loading Data in MongoDB

In [116]:
from pymongo import MongoClient
con = MongoClient('192.168.59.103', 27017)

In [117]:
tweets = con.db.tweets

In [118]:
data = json.loads(open('ch06/twitters.json').read())

In [119]:
for tweet in data:
    tweets.save(tweet)

In [120]:
cursor = tweets.find({'from_user': 'wesmckinn'})

In [121]:
tweet_fields = ['created_at', 'from_user', 'id', 'text']
result = DataFrame(list(cursor), columns=tweet_fields)

In [122]:
result

,created_at,from_user,id,text
0,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
1,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
2,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
3,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
4,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
5,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
6,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
7,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
8,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
9,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
10,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
11,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
12,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
13,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
14,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
15,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
16,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata
17,"Mon, 25 Jun 2012 17:50:33 +0000",wesmckinn,217313849177686018,Lunchtime pandas-fu http://t.co/SI70xZZQ #pydata